// default theme
$white-one: #fafafa;
$white-two: #ffffff;

$gray-one: #cfd6e4;
$gray-two: #969faf;
$gray-three: #3c3c3cb3;

$black-one: #213547;

$blue-one: #646cff;
$blue-two: #747bff;

$red-one: #ED4F32;


